html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}

/* Phoenix Investments color palette */
:root {
    --primary-blue: #142665;
    --primary-orange: #E95B2B;
    --white: #ffffff;
}

/* Apply background */
body {
    background-color: var(--primary-blue);
    color: var(--white);
}

/* Buttons */
.btn-primary {
    background-color: var(--primary-orange);
    border-color: var(--primary-orange);
}

    .btn-primary:hover {
        background-color: #c94c23;
        border-color: #c94c23;
    }

.btn-secondary {
    background-color: var(--white);
    color: var(--primary-blue);
    border-color: var(--white);
}

    .btn-secondary:hover {
        background-color: #e8e8e8;
    }

.btn-back {
    background-color: white;
    color: var(--primary-blue);
    border: 2px solid white;
    font-weight: 600;
}

    .btn-back:hover {
        background-color: #f3f3f3;
        color: var(--primary-blue);
    }


/* Tables */
table.table {
    background-color: var(--white);
    color: var(--primary-blue);
}

    table.table thead {
        background-color: var(--primary-orange);
        color: var(--white);
    }